<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Últimas 20 Partidas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilosresultado.css' %}">
</head>
<body>
    <h1>Últimas 20 Partidas</h1>
    <table>
        <thead>
            <tr>
                <th>Creation Time</th>
                <th>Champion</th>
                <th>Kills</th>
                <th>Deaths</th>
                <th>Assists</th>
                <th>Farm</th>
                <th>Gold</th>
                <th>Duration</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{ game.creation_time }}</td>
                <td>{{ game.champion }}</td>
                <td>{{ game.kills }}</td>
                <td>{{ game.deaths }}</td>
                <td>{{ game.assists }}</td>
                <td>{{ game.farm }}</td>
                <td>{{ game.ouro }}</td>
                <td>{{ game.duracao }}</td>
                <td>{{ game.win }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>